<%= bootstrap_form_tag url: 'search/', method: :get do |f| %>
    <%= f.text_field :search_term, label: 'Search' %>
    <%= f.primary 'Search' %>
<% end %>

<% @results.each do |i| %>

  <h3><%=  i[:title]  %></h3>
  <p><%=  i[:address] %></p>
  <p><%=  i[:phone] %></p>
  <p><%=  i[:hours] %></p>
  <p><%=  i[:description] %></p>
  <p><%=  i[:longitude] %></p>
  <p><%=  i[:latitude] %></p>
  <p><%=  i[:service] %></p>


<% end %>