<div class= "container">

	<div class="container circle">
		<h1 class="essentialH1">Essential</h1>
	</div>

<div class="icons">
  <div class= "shelter-wrapper">
    <div class="hidden">
      <%= form_tag '/shelter', method: :get do |f| %>
          <%= text_field_tag 'long2'%>
          <%= text_field_tag 'lat2'%>
    </div> <!-- 		closes hidden form div -->
          <figure class="pull-left">
            <%= image_submit_tag "Home.png" %>
            <figcaption>Find Shelter</figcaption>
          </figure>
      <% end %>
    <div class="hidden">
      <%= form_tag '/meal', method: :get do |f| %>
          <%= text_field_tag 'long'%>
          <%= text_field_tag 'lat'%>
    </div> <!-- 		closes hidden form div -->
          <figure class="pull-right">
            <%= image_submit_tag "Coffee.png" %>
            <figcaption>Find Meals</figcaption>
          </figure>
      <% end %>
  </div> <!--   closes shelter icon div -->

  <div class= "meal-wrapper">
  </div> <!-- 	closes meals icon div -->
</div> <!-- closes container div for image icons and logo -->
</div> <!-- closes container for top half of page -->

<div class= "container">
  <div class="col-md-10 col-md-offset-1 essential">
	 <p id="indexP"> Essential helps find food and shelter in your area. Create an account and contribute comments that will be useful for others in the community.</p>
  </div>
</div> <!-- closes indexP container wrapper -->


