<div class= "container">

	<div class="container circle">
	<h1 class="essentialH1">Essential</h1>
	</div>

	<div class= "col-xs-4 col-xs-offset-2 col-md-4 col-md-offset-2">
		<figure>
			<%= image_tag "Home.png" %>
			<figcaption>Search for shelter</figcaption>
		</figure>
	</div>
	<div class= "col-xs-4 col-md-4 col-md-offset-2"> 
		<figure>
			<%= image_tag "Coffee.png" %>
			<figcaption>Search for meals</figcaption>
		</figure>
	</div>
</div> <!-- closes container div for image icons -->

<div class="container">
	<%= bootstrap_form_tag url: 'search', method: :get do |f| %>
		<%= f.text_field :search_term, label: 'Search' %>
		<%= f.primary 'Search' %>
	<% end %>
</div>

<div class="col-md-10 col-md-offset-1">
	<p id="indexP"> Essential's aim is to find food and shelter near you. Create an account to take advantage of all of our features, such as saving locations in a list and leaving comments on locations to help out your community.</p>
</div>
