<h1><%= @place.title %></h1>


<h3>Comments</h3>
<ul id="comments">
<% if @comments %>
  <% @comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
<% end %>
</ul>

<% if @current_user %>
	<%= bootstrap_form_for :comment do |f| %>
    		
      			<%= f.label 'Add a comment' %>
      			<%= f.text_field :content, label: "comment", hide_label: true, placeholder: "Type a comment here" %>
    			<%= f.hidden_field :place_title, :value => @place.title %>
    			<%= f.primary "Add comment" %>
  	
  	<% end %>
  	<% else %>
  	<h3> Sign in to post comments </h3>
<% end %>


<!-- I can see comments, but i can't post comments -->