<div class="container">
	<h1><strong><%= @shelter["title"] %></strong></h1>
	<h3><%= @shelter["service"] %></h3>
	
	<h3><%= @shelter["address"] %></h3>
	<h3><%= @shelter["phone"] %></h3>
	<h3><%= @shelter["hours"] %></h3>
	
	<h3><%= @shelter["description"] %></h3>
</div>