<div class="container">

<h1>Add A Resource</h1>

<h3>Know of a Shelter or Meals Program Not Listed Here?</h3>

<h5>Fill Out Our Form and We'll Add it to Our List</h5>

<%= bootstrap_form_for :user, url: "/profile" do |f| %>

    <%= f.text_field :title  %>
    <%= f.text_field :address  %>
    <%= f.text_field :contact_name  %>
    <%= f.text_field :email  %>
    <%= f.select(:type, options_for_select([['Meals', 1], ['Shelter', 2], ['Both', 3]])) %>
    <%= f.primary "Submit" %>

<% end %>

</div>
<!-- need to create a form, database, and routes for this page -->
