<div class="container">

<h3>Want to tell us about a shelter or meals program?</h3>

<h5>Fill out our form and we'll add it to our list.</h5>

<%= bootstrap_form_for :user, url: "/profile" do |f| %>

    <%= f.text_field :title  %>
    <%= f.text_field :address  %>
    <%= f.text_field :phone  %>
    <%= f.text_field :hours  %>
    <%= f.text_field :description  %>
    <%= f.select(:service, options_for_select([['Meals', 1], ['Shelter', 2]])) %>
    <%= f.primary "Submit" %>

<!-- add contact name for adds? add email?-->
<!-- add separate address fields? -->

<% end %>

</div>
<!-- need to create a form, database, and routes for this page -->
